@font-face {
  font-family: 'Host Grotesk';
  src: url('./assets/fonts/Host_Grotesk/static/HostGrotesk-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: Host Grotesk;
}
